{% extends "../iframe.html" %}

{% block content %}

<div class="wrap-container">
    <form class="layui-form" method="post" style="width: 90%;padding-top: 20px;">
        {% module xsrf_form_html() %}
        <div class="layui-form-item" >
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" value="{{one and one.name}}">
                <input type="hidden" name="user_id"  value="{{one and one.id}}">
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-block">
                <input type="text" name="pwd" placeholder="请填写用户登录密码(不填写，则默认为“{{user_init_pwd}}”)" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">角色：</label>
            <div class="layui-input-block">
                <select name="role_id" lay-verify="required">
                    {% for role in roles %}
                    <option value="{{role.id}}" {% if one and role.id == one.role_id %}selected{% end %} >{{role.name}}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">启用：</label>
            <div class="layui-input-block">
                <input type="checkbox" name="enable" lay-skin="switch" lay-text="ON|OFF"  value="{{ one and one.enable }}" {% if one and one.enable==1 %}checked {% end %}>
            </div>
        </div>
        <div class="layui-form-item layui-form-text" >
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="comments" placeholder="请输入内容" class="layui-textarea">{{one and filter_none(one.comments)}}</textarea>
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">父ID：</label>
            <div class="layui-input-block">
                <input type="text" name="fid" placeholder="请填写用户父ID" autocomplete="off" class="layui-input" value="{{one and filter_none(one.fid)}}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="go-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{% end %}


