<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>系统登录</title>
		<link rel="stylesheet" type="text/css" href="{{static_url('layui/css/layui.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{static_url('css/login.css')}}" />
	</head>

	<body>
		<div class="m-login-bg">
			<div class="m-login">
				<h3>后台系统登录</h3>
				<div class="m-login-warp">
					<form class="layui-form">
						{% module xsrf_form_html() %}
						<div class="layui-form-item">
							<input type="text" name="username" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-form-item">
							<input type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<input type="text" name="captcha" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-inline">
								<img class="verifyImg" onclick="this.src=this.src+'?c='+Math.random();" src="/captcha/" />
							</div>
						</div>
						<div class="layui-form-item m-login-btn">
							<div class="layui-inline">
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="login">登录</button>
							</div>
							<div class="layui-inline">
								<button type="reset" class="layui-btn layui-btn-primary">取消</button>
							</div>
						</div>
					</form>
				</div>
				<p class="copyright">Copyright 2018</p>
			</div>
		</div>
		<script src="{{static_url('layui/layui.js')}}" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use(['form'], function() {
				var form = layui.form;

				//监听提交
				form.on('submit(login)', function(data) {
					layui.jquery.post(
					    "{{request.path}}",
						data.field,
						function (data) {
					        if(data.ok){
					            //成功
								window.location.reload()
							}else{
					            //失败
								layer.msg(data.reason)
							}
                    	}
					);
					return false;
				});
			});
		</script>
	</body>

</html>