
{% extends "../iframe.html" %}

{% block content %}
	<div class="wrap-container">
		<form class="layui-form" method="post">
			{% module xsrf_form_html() %}
		  <div class="layui-form-item">
			<label class="layui-form-label">用户名：</label>
            <div class="layui-form-mid layui-word-aux">{{filter_none(user.name)}}</div>
		  </div>
		   <div class="layui-form-item">
			<label class="layui-form-label">姓名：</label>
			<div class="layui-input-block">
			  <input type="text" name="real_name"  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" value="{{filter_none(user.real_name)}}">
			</div>
		  </div>
			<div class="layui-form-item">
			<label class="layui-form-label">手机号：</label>
			<div class="layui-input-block">
			  <input type="text" name="tel"  lay-verify="phone" placeholder="请输入手机号" autocomplete="off" class="layui-input" value="{{filter_none(user.tel)}}">
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">邮箱：</label>
			<div class="layui-input-block">
			  <input type="text" name="email"  lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input" value="{{filter_none(user.email)}}">
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">性别：</label>
			<div class="layui-input-block">
				<input type="radio" name="gender" value="1" title="保密" {% if user.gender==1 %}checked{% end %}>
			  	<input type="radio" name="gender" value="2" title="男" {% if user.gender==2 %}checked{% end %}>
				<input type="radio" name="gender" value="3" title="女" {% if user.gender==3 %}checked{% end %}>
				<input type="radio" name="gender" value="4" title="中性" disabled>
			</div>
		  </div>
		  <div class="layui-form-item">
			<label class="layui-form-label">生日：</label>
			<div class="layui-input-block">
			  <input type="text" name="birthday" id="birthday"  lay-verify="birthday" autocomplete="off" class="layui-input" value="{{filter_none(user.birthday)}}">
			</div>
		  </div>

		  <div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注：</label>
			<div class="layui-input-block">
			  <textarea name="comments" placeholder="请输入内容" class="layui-textarea">{{filter_none(user.comments)}}</textarea>
			</div>
		  </div>
          <div class="layui-form-item layui-form-text">
			<label class="layui-form-label">余额：</label>
            <div class="layui-form-mid layui-word-aux">￥ {{filter_none(user.balance)}}</div>
		  </div>
		  <div class="layui-form-item">
			<div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="go-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
		  </div>
		</form>
	</div>
{% end %}


